ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
};

.innverNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    width: 100%;
    text-align: center;
}

li {
    float: left;
};

li a {
    display: inline;
    list-style-type: none;
    text-align: center;
};